body {
  background: linear-gradient(180deg, #5c2dd5, #f76a91, #9dd7ec);
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.container p {
  font-size: 1.2rem;
}

.box {
  background-color: #f44336;
  border-radius: 20px;
  padding: 40px;
  margin: 40px auto;
  width: 270px;
  height: 280px;
  text-align: center;
}
.box .circle {
  background-color: white;
  color: #f44336;
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.box .btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  width: 200px;
}

.section {
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  margin: 100px 0;
  color: #333;
}

.card {
  background-color: white;
  color: #333;
  padding: 50px 20px;
  margin-top: 20px;
  border: 5px solid black;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.card i {
  font-size: 5rem;
  color: #6c63ff;
  margin-bottom: 15px;
}
